
<!-- <div class="container"> -->
<div class="container justify-content-center mt-4 mb-5">
    <div class="row mt-2">
        <div class="col-3">
            <app-category-list></app-category-list>
        </div>
        <div class="col-9">
            <div class="container">
            <div class="row gap-5">
                <div class="col-3">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-3">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-3">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-3">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-3">
                    <app-product-card></app-product-card>
                </div>
                <div class="col-3">
                    <app-product-card></app-product-card>
                </div>
            </div>
        </div>
            <!-- <div class="col-3">
                <app-product-card></app-product-card>
            </div>
            <div class="col-3">
                <app-product-card></app-product-card>
            </div>
            <div class="col-3">
                <app-product-card></app-product-card>
            </div> -->

        </div>
        
    </div>

    <!-- <div class="row mt-4">
        <div class="col-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-3">
            <app-product-card></app-product-card>
        </div>
    </div> -->
</div>
<!-- </div> -->