

<div class="container-fluid p-0">
    <app-header></app-header>
    <div class="container">

    </div>
 <section class="shopping-cart spad mb-7 mt-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <td>
                                    <div class="product__cart__item__pic">
                                        <img src="../../../assets/img/product-images/product-3.jpg" alt="" >
                                    </div>
                                </td> -->
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="../../../assets/product images/product-11.jpg" alt="" width="100px">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>T-shirt Contrast Pocket</h6>
                                        <h5>$98.49</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <p-inputNumber [(ngModel)]="value1" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" 
                                            decrementButtonClass="p-button-secondary bg-black"incrementButtonClass="p-button-secondary bg-black" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 30.00</td>
                                <td class="cart__close "><i class="pi pi-times fw-bold"></i></td>
                            </tr>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="../../../assets/product images/product-3.jpg" width="100px" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Diagonal Textured Cap</h6>
                                        <h5>$98.49</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <p-inputNumber [(ngModel)]="value1" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" 
                                            decrementButtonClass="p-button-secondary bg-black"incrementButtonClass="p-button-secondary bg-black" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 32.50</td>
                                <td class="cart__close"><i class="pi pi-times fw-bold"></i></td>
                            </tr>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="../../../assets/product images/product-7.jpg" width="100px" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Basic Flowing Scarf</h6>
                                        <h5>$98.49</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <p-inputNumber [(ngModel)]="value1" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" 
                                            decrementButtonClass="p-button-secondary bg-black"incrementButtonClass="p-button-secondary bg-black" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 47.00</td>
                                <td class="cart__close"><i class="pi pi-times fw-bold"></i></td>
                            </tr>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="../../../assets/product images/product-8.jpg" width="100px" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Basic Flowing Scarf</h6>
                                        <h5>$98.49</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <p-inputNumber [(ngModel)]="value1" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" 
                                            decrementButtonClass="p-button-secondary bg-black"incrementButtonClass="p-button-secondary bg-black" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 300.00</td>
                                <td class="cart__close"><i class="pi pi-times fw-bold"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <!-- <a href="#">Continue Shopping</a> -->
                            <p-button label="Continue Shopping" [rounded]="true" 
                            [style]="{ 'color': 'white','background-color':'black','border':'1px solid black' }"></p-button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <!-- <a href="#"><i class="fa fa-spinner"></i> Update cart</a> -->
                            <p-button label="Update Cart" [rounded]="true" 
                            [style]="{ 'color': 'white','background-color':'black','border':'1px solid black' }"></p-button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                        
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>$ 169.50</span></li>
                        <li>Total <span>$ 169.50</span></li>
                    </ul>
                    <p-button label="Proceed to checkout" [rounded]="true" 
            [style]="{ 'color': 'white','background-color':'black','border':'1px solid black' }"></p-button>
                </div>
            </div>
        </div>
    </div>
</section> 
</div>
